<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BossApp"
        tools:targetApi="31">

        <activity

            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.BossApp">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.BossApp" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BossApp" />

        <activity
            android:name=".AdminLoginActivity"
            android:exported="true"
            android:label="Admin Login"
            android:theme="@style/Theme.BossApp" />

        <activity
            android:name=".CreateAccountActivity"
            android:exported="true"
            android:label="Create Account"
            android:theme="@style/Theme.BossApp" />
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:label="Menu" />
        <activity
            android:name=".RoomActivity"
            android:exported="true"
            android:label="Room Booking"/>
        <activity
            android:name=".BookedRoomActivity"
            android:exported="true"
            android:label="Booked Rooms"/>
        <activity
            android:name=".BudgetActivity"
            android:exported="true"
            android:label="Budget Requests"/>
        <activity
            android:name=".AnnouncementActivity"
            android:exported="true"
            android:label="Announcements"/>
        <activity
            android:name=".CreateAnnouncementActivity"
            android:exported="true"
            android:label="Announcement"/>

        <activity
            android:name=".EventViewerActivity"
            android:exported="true"
            android:label="Shows Events"/>

        <activity
            android:name=".CreateEventActivity"
            android:exported="true"
            android:label="Creates Events"/>
        <activity
            android:name=".CommunicationActivity"
            android:exported="true"
            android:label="Creates Events"/>


        <activity
            android:name=".SpecialActivity"
            android:exported="true"
            android:label="Does special features only for OCA"/>

        <activity
            android:name=".OverviewActivity"
            android:exported="true"
            android:label="Overview of all data"/>

        <activity
            android:name=".CreateSurveyActivity"
            android:exported="true"
            android:label="Survey"/>

        <activity
            android:name=".SurveyActivity"
            android:exported="true"
            android:label="Survey"/>

        <activity
            android:name=".SolveSurveyActivity"
            android:exported="true"
            android:label="Survey"/>

        <activity
            android:name=".RoomManager"
            android:exported="true"
            android:label="Manage all rooms"/>

        <activity
            android:name=".BudgetStatusActivity"
            android:exported="true"
            android:label="Shows the status of the budget Request"/>


    </application>

</manifest>
